.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.404);
	border-top: 5px black ;
	height: 7vh;
	.rollingScopes{
		    color: black;
    font-size: 20px;
    text-decoration: none;
	font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 2px;
	}
	.gitHubAccount{
		display: flex;
		flex-direction: row;
		.gitHubImg{
			width: 30px;
			height: 30px;
			margin-right: 15px;
			color: green;
		}
		.gitHubLink{
			
			color:black;
			font-size: 20px;
			text-decoration: none;
			font-family: 'Yusei Magic', sans-serif;
			letter-spacing: 2px;
		}
	}
}
