$Ff:'Fraunces',
serif;
$pd:15px;
$color_1:#eeeeee;
$color_2:#53565a;

@mixin searchFonts($f, $w) {
	font: {
		size: $f;
		weight: $w;
	}
}


.searchbox-wrap {
	position: relative;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 250px;
	color: rgb(33, 37, 41);
	height: 50px;
	width: 100%;


	.searchbox {
		width: 85%;
		height: 100%;
		padding: $pd;
		border: none;
		outline: none;
		background: none;
		background-image: url(../../../images/system-search.svg);
		background-repeat: no-repeat;
		background-size: 50px;
		background-position: 5px 5px;
		@include searchFonts(20px, 300);
		background-color: $color_1;
		border-radius: 8px;
		transition: 0.4s ease-out;
		padding-left: 65px;
		font-size: 22px;
		margin-left: 50px;

		.searchbox:focus {
			box-shadow: 0px 0px 8px 3px #444488;
		}
	}

}



@media only screen and (max-width: 600px) {
	.searchbox-wrap .searchbox {
		background-size: 40px;
		width: 500px;

	}
}


@media only screen and (max-width: 500px) {
	.searchbox-wrap .searchbox {
		background-size: 30px;
		width: 300px;
		margin-left: 150px;
	}
}

@media only screen and (max-width: 400px) {
	.searchbox-wrap .searchbox {
		background-size: 30px;
		width: 200px;
		font-size: 15px;
		margin-left: 150px;
	}
}
